<div class="item-menu" routerLink="/signage/$label" routerLinkActive="item-active">
    <div *ngIf="label === 'dashboard'" [routerLinkActiveOptions]="{exact: true}">
        <div class="item-icon">
            <img src="assets/images/sidenav/$icon.svg" alt="$icon">
        </div>
        <div class="item-label">
            <span>{{label}}</span>
        </div>
    </div>
</div>