.signage-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: #16171b; */
  /* color: #ffffff !important; */
}

.sidenav {
  border-right: 0;
  background-color: #202125;
}
.sidebar-wrapper {
  width: 250px;
}
.sidebar-list > .row {
  flex-direction: column;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding-right: 15px;
  padding-left: 15px;
}
.item-col {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.logo {
  text-align: center;
  padding: 15px 10px 30px;
}
.logo:hover {
  cursor: pointer;
}
.logo img {
  max-width: 80%;
}

/* mat-sidenav-content {
  background-color: #16171b;
} */
.navbar-dark {
  background-color: #202125;
}

.mat-button {
  color: #ffffff;
}

.item-active {
  background-color: #1baf77 !important;
  box-shadow: 0px 0px 22px 0px rgba(163, 255, 220, 0.3);
}
.item-active > .item-icon > img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(328deg)
    brightness(106%) contrast(102%) !important;
}
.item-menu:hover,
.item-menu:active {
  cursor: pointer;
  background-color: #1a1a1d;
}
.item-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
  width: 100%;
  border-radius: 6px;
  padding: 8px 16px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.item-menu .item-icon {
  width: 20%;
  margin-right: 10px;
}
.item-menu .item-label {
  width: 90%;
  margin-top: 2px;
}
.item-icon > img {
  max-width: 24px;
  margin-bottom: 2px;
  margin-right: 10;
  filter: invert(33%) sepia(6%) saturate(336%) hue-rotate(191deg)
    brightness(89%) contrast(90%);
}
.item-label > span {
  color: #ffffff;
  font-size: 0.875rem;
}
