<mat-sidenav-container class="signage-container">
    <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
        <div class="sidebar-wrapper">
            <div class="sidebar-list">
                <div class="row" style="padding-top: 10px;">
                    <div class="item-col mt-2 mb-2">
                        <div class="logo" (click)="goToDashboard()">
                            <img src="assets/images/logo/gandiwa-new-logo-white.png" alt="">
                        </div>
                    </div>
                    <div class="item-col">
                        <div class="row">
                            <div class="item-menu" routerLink="/signage/dashboard" routerLinkActive="item-active" [routerLinkActiveOptions]="{exact: true}">
                                <div class="item-icon">
                                    <img src="../../assets/images/sidenav/speed-24px.svg" alt="Statistic">
                                </div>
                                <div class="item-label">
                                    <span>Dashboard</span>
                                </div>
                            </div>
                            <div *ngIf="userLevel == 'admin'" class="item-menu" routerLink="/signage/admin" routerLinkActive="item-active">
                                <div class="item-icon">
                                    <img src="../../assets/images/sidenav/admin_panel_settings-24px.svg" alt="Admin">
                                </div>
                                <div class="item-label">
                                    <span>Admin</span>
                                </div>
                            </div>
                            <div *ngIf="userLevel == 'admin'" class="item-menu" routerLink="/signage/visitor" routerLinkActive="item-active">
                                <div class="item-icon">
                                    <img src="../../assets/images/sidenav/person_search-24px.svg" alt="Visitor">
                                </div>
                                <div class="item-label">
                                    <span>Visitor</span>
                                </div>
                            </div>
                            <!-- <div class="item-menu" routerLink="/signage/statistic" routerLinkActive="item-active">
                                <div class="item-icon">
                                    <img src="../../assets/images/sidenav/analytics-24px.svg" alt="Statistic">
                                </div>
                                <div class="item-label">
                                    <span>Statistic</span>
                                </div>
                            </div> -->
                            <div class="item-menu" routerLink="/signage/banner" routerLinkActive="item-active">
                                <div class="item-icon">
                                    <img src="../../assets/images/sidenav/style-24px.svg" alt="Statistic">
                                </div>
                                <div class="item-label">
                                    <span>Banner</span>
                                </div>
                            </div>
                            <div class="item-menu" (click)="logout()">
                                <div class="item-icon">
                                    <img src="../../assets/images/sidenav/logout.svg" alt="Signout">
                                </div>
                                <div class="item-label">
                                    <span>Logout</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <nav class="navbar sticky-top navbar-expand-sm navbar-dark">
            <button mat-button (click)="sidenav.toggle()">
                <mat-icon>dehaze</mat-icon>
            </button>
        </nav>
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>