<div class="container-login">

    <app-loading *ngIf="loadingAnimation"></app-loading>

    <div class="login-form-section shadow-sm">
        <div class="header">
            <img src="assets/images/logo/gandiwa-new-logo.png" alt="">
        </div>

        <div *ngIf="animationReset" class="alert-msg alert-success">
            <img src="../../assets/images/login/icon_check_white.svg" alt="success"> <span>{{ resetMessage.detail }}</span>
        </div>

        <div *ngIf="error" class="alert-msg alert-error">
            <img src="./assets/images/login/warning.svg" alt="failed"> <span>{{ error }}</span>
        </div>

        <div class="body">
            <div class="form-login">
                <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                    <div class="form-group">
                        <label for="emailUser" style="color: #111111;">Username</label>
                        <input type="text" class="form-control" id="emailUser" name="username" ngModel required>
                    </div>
                    <div class="form-group">
                        <label for="passwordUser" style="color: #111111;">Password</label>
                        <input type="password" class="form-control" id="passwordUser" name="password" ngModel required>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button
                            [disabled]="!loginForm.valid"
                            type="submit"
                            class="btn btn-primary"
                            style="background-color: #5E43A1; border-color: #05c8f1;"
                            >Masuk</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>