.container-login {
  width: 100%;
  height: 100%;
  max-height: 768px;
  position: relative;
  display: flex;
  overflow: hidden;
  color: white;
  padding: 20px 10px;
  margin-top: 0 auto;
}
.login-form-section {
  padding: 30px;
  width: 400px;
  border: 1px solid rgb(230, 229, 229);
  background-color: #ffffff;
  border-radius: 8px;
  margin: 100px auto;
}
.header {
  text-align: center;
  margin-bottom: 16px;
}
.header img {
  max-width: 50%;
}
.header h4 {
  font-size: 18px;
  font-weight: 700;
}

.alert-success {
  background-color: #a490d7;
}
.alert-error {
  background-color: #e35273;
}
.alert-msg {
  border-radius: 4px;
  color: white;
  padding: 4px 10px;
  margin-top: 3px;
  margin-bottom: 8px;
  width: 100%;
  text-align: left;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.alert-msg img {
  width: 14px;
  margin-right: 5px;
  margin-bottom: 2px;
}
.alert-msg span {
  margin-left: 4px;
  font-size: 12px;
}
