<div class="container">
    <div class="row mb-4 mt-4">
        <div class="col-12">
            <div class="visitor--title">
                <h3>Visitor Information</h3>
            </div>
        </div>
        <div class="col-12">
            <div class="visitor--detail">
                <p-table [value]="visitorData">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Registered Name</th>
                            <th>Registered e-Mail</th>
                            <th>Registered Number</th>
                            <th>Registered Date</th>
                            <th>Device MAC Address</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-user let-index="rowIndex">
                        <tr>
                            <td>{{ user.alias }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.sms }}</td>
                            <td>{{ user.registered }}</td>
                            <td>{{ user.macaddr }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="device-detail">
                <div *ngFor="let device of visitorDevice" class="mb-4">
                    <div class="device--title">
                        <h3>Device Information</h3>
                    </div>
                    <table>
                        <tr>
                            <td style="width: 50%;">MAC Address</td>
                            <td style="width: 50%;">{{ device.macaddr}}</td>
                        </tr>
                        <tr>
                            <td>Manufacturer</td>
                            <td>{{ device.vendro }}</td>
                        </tr>
                        <tr>
                            <td>Identity</td>
                            <td>{{ device.hostname }}</td>
                        </tr>
                        <tr>
                            <td>Platform</td>
                            <td>{{ device.os }}</td>
                        </tr>
                        <tr>
                            <td>Last Detected by Sensor</td>
                            <td>{{ device.lastdetectwps }}</td>
                        </tr>
                        <tr>
                            <td>Detected By</td>
                            <td>{{ device.lastsensor }}</td>
                        </tr>
                        <tr>
                            <td>Last Login to HotSpot</td>
                            <td>{{ device.lastdetectucc }}</td>
                        </tr>
                        <tr>
                            <td>Access Point</td>
                            <td>{{ device.lastap }}</td>
                        </tr>
                        <tr>
                            <td>Last IP Address</td>
                            <td>{{ device.lastdetectipaddr }}</td>
                        </tr>
                        <tr>
                            <td>Remark</td>
                            <td>{{ device.remark }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>