<div class="container mb-5">
    <div>
        <p-table [value]="visitorAll">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 20%;">Name</th>
                    <th style="width: 30%;" class="md-none">Email</th>
                    <th style="width: 20%;" class="md-none">Phone</th>
                    <th style="width: 20%;" class="md-none">Registered</th>
                    <th style="width: 10%;">Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>{{ user.alias }}</td>
                    <td class="md-none">{{ user.email }}</td>
                    <td class="md-none">{{ user.sms }}</td>
                    <td class="md-none">{{ user.registered }}</td>
                    <td (click)="viewUser(user)" class="view"><a>View</a></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>