@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

.signage-wrapper {
  overflow: hidden;
}

.ui-calendar {
  position: relative;
  display: flex !important;
  width: 100%;
}
.statistic-date .ui-calendar .ui-inputtext {
  width: 100%;
}

.locations-table .ui-table .ui-table-thead tr th {
  text-align: center;
}
.locations-table .ui-table .ui-table-tbody tr:hover,
.locations-table .ui-table .ui-table-tbody tr:active {
  background-color: rgba(92, 92, 92, 0.863);
  color: #ffffff !important;
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    padding: 1em 3em 3em;
  }
}

body .ui-widget {
  font-family: "Nunito", sans-serif !important;
  font-size: 0.875rem !important;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.ui-dropdown,
.ui-dropdown .ui-dropdown-label-container {
  width: 100%;
}

.actions > .ui-button {
  background-color: #1baf77;
  border-color: #1baf77;
  color: #ffffff;
}
.actions > .ui-button:enabled:hover {
  background-color: #129160;
  border-color: #129160;
}
