.table--section .ui-table .ui-table-tbody tr:hover,
.table--section .ui-table .ui-table-tbody tr:active {
    cursor: pointer;
    background-color: rgba(255, 246, 217, 0.863);
}

.table--section .ui-table .ui-table-thead tr th,
.sekolah-table .ui-table .ui-table-thead tr th {
    text-align: center;
}

.sekolah-table .ui-table .ui-table-tbody tr {
    height: 50px;
}
.sekolah-table .ui-table .ui-table-tbody tr td:last-child {
    font-weight: 600;
}