.location,
.filter {
  /* background-color: #ffffff; */
  color: #000000;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.col-title {
  color: #8f8f8f;
  font-size: 14px;
}
.card--body {
  color: #8f8f8f;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 4px;
}
.card--title {
  margin-bottom: 2px;
  max-width: 130px;
  color: #8f8f8f;
  font-size: 14px;
  font-weight: 500;
}
.overview {
  padding: 25px 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #ffffff;
  /* box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05); */
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  overflow: hidden;
  transition: all 0.2s linear;
}
@media (min-width: 768px) {
  .overview {
    margin-top: 20px;
  }
  .section-1 {
    margin-bottom: 30px;
  }
}

.section-1 {
  margin-bottom: 30px;
  transition: all 0.2s linear;
}

/* Hide on mobile */
@media (max-width: 767px) {
  .card--container.locations {
    display: block;
  }
}

.card--container {
  padding: 25px 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  /* box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.158); */
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  overflow: hidden;
  transition: all 0.2s linear;
}
.card--container.impression {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .card--container.impression {
    margin-top: 20px;
  }
}
.chart--title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #12885b;
  margin-bottom: 6px;
}

.actions > .bg-white {
  opacity: 0;
}
@media (max-width: 991px) {
  .actions > .bg-white {
    display: none;
  }
}

.chart--container {
  width: 100%;
  position: relative;
}
