<div class="container mb-md-2 mb-5">
    <div class="col-12">
        <div class="overview">
            <div class="row">
                <div class="col-6 col-md-3 pb-3 pb-md-0">
                    <div class="card-dashboard">
                        <div class="card--title">Impression Total</div>
                        <div class="card--body">{{ impressionTotal | number }}</div>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-3 pb-md-0">
                    <div class="card-dashboard">
                        <div class="card--title">Reach</div>
                        <div class="card--body">{{ reachTotal | number }}</div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card-dashboard">
                        <div class="card--title">Played Total</div>
                        <div class="card--body">{{ playedTotal | number }}</div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card-dashboard">
                        <div class="card--title">Avg Dwell Time</div>
                        <div class="card--body">{{ dwellAvg }} min</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="section-1">
            <form #filterDashboard="ngForm" (ngSubmit)="searchGeneral(filterDashboard)" style="width: 100%;">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="location">
                            <label for="locations" class="col-title">Locations</label>
                            <p-dropdown [options]="devicelist" optionLabel="devicealias" ngModel (onChange)="selectLocation($event)"
                                placeholder="Select a location" class="dp-location" name="locations" #locations="ngModel" required></p-dropdown>
                            <small *ngIf="!locations.valid" style="color: red; padding-top: 10px;">
                                Please select location
                            </small>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="filter">
                            <label for="filter" class="col-title">Scope</label>
                            <p-dropdown [options]="resultOptions" optionLabel="time" placeholder="Daily/Monthly" [(ngModel)]="selectedOption"
                                (onChange)="selectResultOption($event)" [style]="{'margin-bottom':'10px'}" name="scopeOptions"></p-dropdown>
                            <p-calendar *ngIf="selectedOption.time == 'Daily'" [(ngModel)]="selectedDate" class="statistic-date"
                                (onSelect)="onSelectDate()" [showIcon]="true" dateFormat="dd/mm/yy" name="day"></p-calendar>
                            <p-dropdown *ngIf="selectedOption.time == 'Monthly'" [options]="monthList" optionLabel="month"
                                [(ngModel)]="selectedMonth" (onChange)="onSelectMonth($event)" name="month"></p-dropdown>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="actions">
                            <label for="filter" class="col-title bg-white">Scope</label>
                            <button pButton [style]="{'width':'100%'}" type="button" icon="pi pi-search" iconPos="left" label="Result"
                                type="submit" [disabled]="!filterDashboard.valid"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12">
        <div class="container--tile">
            <h4 style="font-weight: 600; margin-bottom: 2px;">{{ selectedLocationName }}</h4>
            <h5
            *ngIf="selectedOption.time == 'Daily'"
            style="font-weight: 600; color: #12885b;">{{ formatedDate }}</h5>
            <h5
            *ngIf="selectedOption.time == 'Monthly'"
            style="font-weight: 600; color: #12885b;">{{ selectedMonth.month }}</h5>
        </div>
    </div>
    <div class="col-12">
        <div class="card--container mb-2 locations" *ngIf="isLocations">
            <label class="chart--title pb-1">Content</label>
            <div class="chart--container">
                <app-spinner *ngIf="isLocationLoading"></app-spinner>
                <p-table [value]="locationStatistics">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 5%;">No</th>
                            <th style="width: 30%;">Content</th>
                            <th style="width: 10%;">Played</th>
                            <th style="width: 20%;">Since</th>
                            <th style="width: 20%;">Until</th>
                            <th style="width: 15%;">Impression</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-loc let-index="rowIndex">
                        <tr>
                            <td style="text-align: center;">{{ loc.urut }}</td>
                            <td>{{ loc.filename | removeExtension }}</td>
                            <td style="text-align: center;">{{ loc.played }}</td>
                            <td style="text-align: center;">{{ loc.play_first | date: 'HH:mm ' : '+0700'}}</td>
                            <td style="text-align: center;">{{ loc.play_last | date: 'HH:mm' : '+0700'}}</td>
                            <td style="text-align: center;">{{ loc.jumlah }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
    <div class="d-xl-flex">
        <div class="col-12 col-xl-6">
            <div class="card--container impression" *ngIf="isImpression">
                <label class="chart--title">Impression</label>
                <div class="chart--container">
                    <app-spinner *ngIf="isImpressionLoading"></app-spinner>
                    <p-chart #impressionChart type="line" [data]="impressionChartData" [options]="chartOption" height="20em"></p-chart>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-6">
            <div class="card--container" *ngIf="isDwellTime">
                <label class="chart--title">Dwell Time</label>
                <div class="chart--container">
                    <app-spinner *ngIf="isDwellTimeLoading"></app-spinner>
                    <p-chart #dwellTimeChart type="line" [data]="dwellTimeChartData" [options]="chartOption" height="20em"></p-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="d-md-flex">
        <div class="col-12 col-md-6" *ngIf="isPlatform">
            <div class="card--container mb-3">
                <label class="chart--title">Platform</label>
                <div class="chart--container">
                    <app-spinner *ngIf="isPlatformLoading"></app-spinner>
                    <p-chart #platformChart type="pie" [data]="platformChartData" height="20em"></p-chart>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6" *ngIf="isSegmen">
            <div class="card--container mb-3">
                <label class="chart--title">Segmentation</label>
                <div class="chart--container">
                    <app-spinner *ngIf="isSegmenLoading"></app-spinner>
                    <p-chart #segmentChart type="pie" [data]="segmentChartData" height="20em"></p-chart>
                </div>
            </div>
        </div>
    </div>
</div>