.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #5e43a1;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  position: relative;
  top: 40%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
