
@import '~@angular/material/theming';
@include mat-core();
$gandiwa-primary: mat-palette($mat-indigo);
$gandiwa-accent: mat-palette($mat-pink, A200, A100, A400);
$gandiwa-warn: mat-palette($mat-red);
$gandiwa-theme: mat-light-theme($gandiwa-primary, $gandiwa-accent, $gandiwa-warn);
@include angular-material-theme($gandiwa-theme);
