<div class="flex">
    <div class="row">
        <div *ngFor="let location of locations">
            <div class="col-sm-6">
                <p>Content: {{ location.filename }}</p>
                <p>Played: {{ location.played }}</p>
                <p>Impression: {{ location.jumlah}}</p>
                <p>Time: {{ location.play_first | date: 'HH:mm' }} - {{ location.play_last | date: 'HH:mm' }}</p>
            </div>
        </div>
    </div>
</div>